.offcanvas-title, .navbar-brand{
    font-size:xx-large;
}

body{
    background: linear-gradient(90deg, #F5F4EF 50%, #A4A382  50%);
    padding: 3%;
}

.navbar{
    font-size:x-large;
}

#links{
    color: #000000;
    text-decoration: none;
}

a{
    color:black;
}
.glass-bg{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(157, 152, 152, 0.32);
}

.offcanvas-header{
    background-color: rgb(29, 27, 27);
}

.offcanvas-body{
    background-color: rgb(29, 27, 27);
    font-size:x-large;
}

.skills{
    padding: 4%;
    margin-top: 5%;
}

.eachSkills{
    font-size:large !important;
}

#about{
    padding: 5%;
    padding-bottom: 9%;
    margin-top: 5%;
}

#sectionTitle{
    font-family: "Euphoria Script", cursive;
    font-weight:bolder;
    font-style: normal;
    font-size: 75px;
}

#contact{
    padding: 4%;
    margin-top: 5%;
}

#projects{
    padding: 4%;
    margin-top: 5%;
    padding-bottom: 68%;

}

.cinephilist{
    margin-bottom: 8%;
}

.fab{
    color: #000000;
}

.skills{
    font-size:x-large;
}

.footer{
    margin-top: 5%;
    padding: 10px;
    background-image: linear-gradient(180deg, rgb(27, 166, 185), #000000);
}