.offcanvas-title, .navbar-brand {
    font-size:xx-large;
}

body{
    background-image: url(./images/cyber.gif);
    background-repeat:no-repeat;
    background-color: black;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Black Ops One', sans-serif;
    color:  #ffffff;
}


.navbar{
    background-image: linear-gradient(180deg, #000000, rgb(27, 166, 185));
    height: 20%;
    font-size: x-large
}

.navbar-brand:hover{
    color:rgb(0, 0, 0)
}

#links:hover{
    color:rgb(0, 0, 0)
}

.navbar-brand, #links{
    font-family: 'Black Ops One', sans-serif;
    color: white;
}



.offcanvas-header{
    background-color: rgb(29, 27, 27);
}

.offcanvas-body{
    background-color: rgb(29, 27, 27);
    font-size:x-large;
}

.remainigName{
    font-size: 9vw;
}

.firstName{
    font-size: 12vw;
}

.projects{
    border-style:double;
    color: #000000;
    margin: 2%;
    background-color: rgb(27, 166, 185);
}

.footer{
    padding: 10px;
    background-image: linear-gradient(180deg, rgb(27, 166, 185), #000000);
}

.container{
    margin-top: 3%;
    margin-bottom: 5%;
}
.fab, .fas{
    color: #d3d3d3;
    margin-left: 1%;
    padding: 0%;
}
.carousel {
    z-index: 1;
}

.skills{
    font-size:x-large;
}

.distance{
    margin-left: 5%;
    margin-right: 5%;
    color: grey;
}
