.offcanvas-title, .navbar-brand {
    font-size:xx-large;
}

body{
    background-color: rgb(29, 27, 27);
    font-family: 'Black Ops One', sans-serif;
    color:  #d3d3d3;
}

.navbar{
    background-color: transparent;
    height: 20%;
    position: sticky;
}

.navbar-brand:hover{
    color:rgb(72, 75, 78)
}

.navbar-brand, .offcanvas-title{
    font-family: 'Black Ops One', sans-serif;
}

.offcanvas-header{
    background-color: rgb(29, 27, 27);
}

.offcanvas-body{
    background-color: rgb(29, 27, 27);
    font-size:x-large;
}

.remainigName{
    font-size:200%
}

.firstName{
    font-size: 15vw;
}

.projects{
    border-style:double;
    border-color: whitesmoke;
    margin: 2%;
}

.footer{
    position: fixed;
    bottom: 0;
}

.container{
    margin-top: 3%;
    margin-bottom: 5%;
}
.fab, .fas{
    color: #d3d3d3;
    margin-left: 1%;
    padding: 0%;
}
.carousel {
    z-index: 1;
}

.skills{
    font-size:x-large;
}

.distance{
    margin-left: 5%;
    margin-right: 5%;
    color: grey;
}
